body {
  margin: 0;
  font-family: "Times New Roman", Times, serif, sans-serif;
  font-size: 20px;
  line-height: 18px;
  color: #333333; 
  background-color: white; 
}

div#maindiv {
	position: absolute;
	top:30%;
	left:40%;
}

div#chooseradio {
	position: relative;
  top: 20px;
}

div#inputdiv {
	position: absolute;
	top:170%;
}